<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Title</title>
</head>
<body class="flex flex-col items-center justify-center min-h-screen ">
<h1 class="text-3xl font-bold mb-4">My Tasks</h1>


<form action="/add" method="post" class="mb-6">
    <div class="flex items-center">
        <input class="input input-bordered w-full max-w-xs" type="text" name="title" placeholder="Title" id="task_input">
        <button class="btn btn-primary ml-2" type="submit">Add</button>
    </div>
</form>

<section class="flex flex-col items-center">
    {% for message in get_flashed_messages() %}
        <div class="mb-2">{{ message }}</div>
    {% endfor %}

    {% if is_all_completed %}
        <p class="mb-4 text-green-500">All tasks completed</p>
    {% endif %}

    <div class="flex flex-wrap justify-center">
        {% for task in tasks %}
            <div class="card bg-neutral text-neutral-content w-96 m-2">
                <div class="card-body items-center text-center">
                    <h2 class="card-title">{{ task.id }}</h2>
                    <p>{{ task.title }}</p>
                    {% if task.completed %}
                        <p>Completed</p>
                    {% else %}
                        <p>Not Completed</p>
                    {% endif %}
                    <div class="card-actions justify-end">
                        <a href="/update/{{ task.id }}" class="btn btn-primary">Update</a>
                        <a href="/delete/{{ task.id }}" class="btn btn-secondary">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
</body>

</html>